.youtube-channel .items,
.youtube-playlist .items {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}

.youtube-single-video .description {
  padding: 20px 0;
}

.youtube-single-video .youtube-video img {
  margin: 0 auto;
}

.youtube-video img {
  display: block;
  object-fit: contain;
}
