{#
/**
 * @file
 * Default theme implementation of an YouTube channel.
 *
 * Available variables:
 * - title: The youtube playlist title.
 * - description: The youtube playlist description.
 * - items: The youtube videos under this channel.
 *
 * @ingroup themeable
 */
#}
{% spaceless %}
  <div class="youtube-channel">
    <div class="description">{{ description }}</div>
    <div class="items">{{ items }}</div>
  </div>
{% endspaceless %}
