{#
/**
 * @file
 * Default theme implementation of an YouTube single video.
 *
 * Available variables:
 * - vid: The youtube video id.
 * - title: The youtube video title.
 * - description: The youtube video description.
 * - image: The youtube video image.
 *
 * @ingroup themeable
 */
#}
{% spaceless %}
<div class="youtube-single-video">
  <a class="youtube-video" target="_blank" href="https://www.youtube.com/watch?v={{ vid }}">
    <img height="{{ image.height }}" width="{{ image.width }}" src="{{ image.url }}" alt="{{ title }}">
  </a>
  <div class="description">{{ description }}</div>
</div>
{% endspaceless %}
